.qualification_container{
    max-width: 768px;
}

.qualification_tabs{
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.qualification_button{
    font-size: var(--h3-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: 0 1rem;
    cursor: pointer;
}

.qualification_button:hover{
    color: var(--title-color-dark);
}

.qualification_icon{
    font-size: 1.5rem;
    margin-right: 2.5rem;
}

.qualification_active{
    color: var(--title-color-dark);
}

.qualification_sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.qualification_content{
    display: none;
}

.qualification_content-active{
    display: block;
}

.qualification_data{
    display: grid;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.qualification_title{
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.qualification_subtitle{
    display: inline-block;
    font-size: var(--normal-font-size);
}

.qualification_calender{
    font-size: var(--small-font-size);
}

.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-color: var(--text-color);
    border-radius: 50%;
}